body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6e6363;
    color: #ffffff;
}
header {
    background-color: #a33131;
    color: #ffffff;
    padding: 11px;
    text-align: center;
}
nav {
    background-color: #5c2222;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}
nav a:hover {
    text-decoration: underline;
}
section {
    padding: 20px;
}
footer {
    background-color: #5c2222;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.probe {
    border: 3px solid #ffffff;
    padding: 20px;
    width: 320px; /* Breite erhöht auf 300px */
    border-radius: 20px;
    text-align: center;
    margin: 550px auto 10px; /* 100px Abstand nach oben, auto für zentrierte Positionierung horizontal, 30px Abstand nach unten */
    margin-left: 4px; /* Verschiebt das Element um 700px nach rechts */
}
.aktuelles-lied1 {
    border: 3px solid #ffffff;
    padding: 20px;
    width: 320px; /* Breite erhöht auf 300px */
    border-radius: 20px;
    text-align: center;
    margin: -400px auto 10px; /* 100px Abstand nach oben, auto für zentrierte Positionierung horizontal, 30px Abstand nach unten */
    margin-left: 550px; /* Verschiebt das Element um 700px nach rechts */
}
.aktuelles-lied2 {
    border: 3px solid #ffffff;
    padding: 20px;
    width: 320px; /* Breite erhöht auf 300px */
    border-radius: 20px;
    text-align: center;
    margin: -145px auto 10px; /* 100px Abstand nach oben, auto für zentrierte Positionierung horizontal, 30px Abstand nach unten */
    margin-left: 1000px; /* Verschiebt das Element um 700px nach rechts */
}
.auftritt {
    border: 3px solid #fff;
    padding 20px;
    width: 320px;
    border-radius: 20px;
    text-align: center;
    margin: -400 auto 10px;
    margin-left: 780px;
}